<footer class="footer mt-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
<div class="d-flex justify-content-center pt-4">
  <li ><%= link_to "Мой блог", '/home/index' %></li>
  <p class="pl-4 p_footer">
    Василич в гареме.
  </p>
</div>

      </div>
      <div class="col-sm-6">
        <div class="d-flex justify-content-center">
        <nav class="pt-3 ">
          <ul>
            <li><%= link_to "About",   '#' %></li>
            <li><%= link_to "Contact", '/contacts/#index' %></li>
            <li><a href="#">News</a></li>
          </ul>
        </nav>
        </div>
      </div>
    </div>
  </div>


</footer>